---
layout: default
---

<header class="header">
  <div class="header-title">
    <a href="{{ site.url }}{{ site.baseurl }}" color="#2EE">{{ site.name }}</a>
  </div>
  <!--
  <nav class="header-nav">
    {% for nav in site.nav %}
    {% if nav.url contains 'http://' or nav.url contains 'https://' %}
    <a href="{{ nav.url }}">{{ nav.name }}</a>
    {% else %}
    <a href="{{ nav.url | prepend: site.baseurl }}">{{ nav.name }}</a>
    {% endif %}
    {% endfor %}
  </nav>
  //-->
</header>

 <div class="list-post">
    
    <a href="/2017-06-28/DESS-basic-install-guide/">
      
      <div class="list-post-date">
        <time>28 Jun 2017</time>
      </div>
      <div class="list-post-title">
        DESS Basic 설치 가이드
      </div>
      
      <div class="list-post-desc">
        DESS Basic Edition 설치 가이드 
      </div>
      
    </a>


  </div>

  <div class="list-post">
    
    <a href="/2017-06-28/DESS-standard-install-guide/">
      
      <div class="list-post-date">
        <time>28 Jun 2017</time>
      </div>
      <div class="list-post-title">
        DESS Standard Edition 설치 가이드
      </div>
      
      <div class="list-post-desc">
        DESS Standard Edition 설치 가이드 
      </div>
      
    </a>


  </div>

  <div class="list-post">
    
    <a href="/2017-06-28/DESS-professional-install-guide/">
      
      <div class="list-post-date">
        <time>28 Jun 2017</time>
      </div>
      <div class="list-post-title">
        DESS Professional Edition 설치 가이드
      </div>
      
      <div class="list-post-desc">
        DESS Pro Edition 설치 가이드 
      </div>
      
    </a>


  </div>


  <div class="list-post">
    
    <a href="/2017-01-19/database-cluster/">
      
      <div class="list-post-date">
        <time>19 Jan 2017</time>
      </div>
      <div class="list-post-title">
        데이터베이스 클러스터 설치& 설정 가이드
      </div>
      
      <div class="list-post-desc">
        DB cluster installation & Settings
      </div>
      
    </a>


  </div>

  <div class="list-post">
    
    <a href="/2017-06-28/online-certification/">
      
      <div class="list-post-date">
        <time>28 Jun 2017</time>
      </div>
      <div class="list-post-title">
        온라인 인증 가이드 
      </div>
      
      <div class="list-post-desc">
        온라인 인증 가이드
      </div>
      
    </a>


  </div>
